body{
  color: rgb(40, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}
*{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
header{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px #eae4e4;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}
section{
  padding: 0.2rem;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

h1,h4{
  text-align: center;
}

@media screen and (max-width: 830px) {

  *{
    font-size: 1.1rem;

  }
  header {
    width: 95%;
    margin: 0 auto;
  }

  h1, h4{
    text-align: center;
  
  }

  section{
    grid-template-columns: repeat(1, 0.25fr);
    
  }
 
}





 button{
  cursor:pointer;
  padding: 0.2rem;
  background-color: rgba(37, 37, 15, 0.237);
  color: black;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 4.5px #888888;
 }

input[type = "text"]{
  border: 0.5px solid rgb(97, 163, 184);
  padding: 0.1rem;
  height: 1.3rem;
  border-radius: 2px;
}
.yellow-button{
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 4.5px #888888;
}

.blue-button{
  background-color: blue;
  color: whitesmoke;
  border: none;
  border-radius: 2px;
  box-shadow:  2px 2px 4.5px #888888;
  
}